h3 {
	background-color: #ff1b7b;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2em;
	color: white;
}

span {
	font-size: 1.5em;
}

#question {
	max-width: 400px;
}

::marker {
	display: none;
}
