h3 {
	background-color: #ff1b7b;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2em;
	color: white;
}

.content input {
	font-size: 4em;
	width: fit-content;
}

#result-container {
	display: flex;
	flex-direction: column;
}

#computer {
	font-size: 1.5em;
}

#result {
	font-size: 5em;
	color: #ff1b7b;
}
